#app2 {
}

#app2 .tabBar {
    display: flex;
}
#app2 .tabBar > li{
    border: 1px solid gray;
    width: 50%;
}
#app2 .tabBar > li.selected{
    background: yellow;
    color: white;
}
#app2 .tabContent{}
#app2 .tabContent>li {
    display: none;
}
#app2 .tabContent>li.active{
    display: block;
}