#app4 {
}
@keyframes change {
  0% {
    background: white;
  }
  100% {
    background: black;
  }
}
#app4 .circle {
  width: 10vw;
  height: 10vw;
  margin-top: 10vw;
  margin-left: 10vw;
  border-radius: 50%;
  border: 1px solid black;
}
#app4 .circle.active{
  animation: change 1s infinite alternate linear;
}